/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat925.ani), url(https://cur.cursors-4u.net/nature/nat-10/nat925.png), auto !important;} /* End https://www.cursors-4u.com */
body {
    background-color: #070095;
    background-image:url('background-water2.gif');
    background-attachment:fixed;
    background-position:center;
    margin: 20%;
    margin-top: 24px;
    width: fit-content;
    border: #070095;
    border-style: double;
    border: 4px;
}

.left {
    width: 200px;
    float: left;
    line-height: 20px;
    padding: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: rgb(245, 245, 245);
}
.middle {
    float: center;
    background-color: rgb(245, 245, 245);
    width: auto;
    margin-left: 200px;
    padding: 10px;
    height: auto;

}
.right {
    width: 220px;
    float: right;
    line-height: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: rgb(245, 245, 245);
}