/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat925.ani), url(https://cur.cursors-4u.net/nature/nat-10/nat925.png), auto !important;} /* End https://www.cursors-4u.com */
body {
    background-color: #070095;
    background-image:url('background-water2.gif');
    background-attachment:fixed;
    background-position:center;
    margin: 50px;
}
.buttonbox {
    height: 560px;
    width: 220px;
    overflow-y: scroll;
    position: fixed;
    line-height: 20px;
    left: 10px;
    top: 10px;
    margin-top: 25px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: rgb(245, 245, 245);
    border: 4px;
    border-style: double;
    border-color: blue;
    }
    
.buttonbox div {
    padding: 8px;
    font-size: 24px;
    display: block;
    }

.body-text {
    height: 560px;
    margin-left: 225px;
    font-size: 18px;
    background-color: rgb(245, 245, 245);
    border: 4px;
    border-style: double;
    border-color: blue;
    }